<!DOCTYPE html>
<html>
  <head>
    <title>birdwell</title>
    <meta name="description" content="BirdWell" />
    <meta name="title" property="og:title" content="BirdWell" />
    <meta property="og:type" content="Website" />
    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51529934005_21fa761807_h.jpg" />
    <meta name="description" property="og:description" content="BirdWell is a clone of allbirds ecommerce website. This project is an example of a React.js and Redux.js frontend built off of a Ruby on Rails backend. In developing this project, a high level of detail was given towards a clean REST api powering engaging and ecommerce relevant frontend functionality. Take a look around, browse the product and dont forget to check out the cart functionality!" />
    <meta name="author" content="Erik Ingebretson" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link rel="icon" href="images/favicon.png" type="image/png"/>
    <link rel="shortcut icon" href="images/favicon.png" type="image/png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital@1&family=Mulish:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
